/* COLORS */
:root{
    --black: #343235;
    --white: #F0EBE7;
    --primary: #5F90B0;
    --secondary: #93261F;
}



/* TYPOGRAPHY */
html {font-size: 100%;}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
h1, h2, h3, h4, h5 {
    margin: 1rem 0px;
    font-weight: 700;
    line-height: 1.75;
}
.large{font-size: 3.815rem;}
h1 {font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
.small{font-size: 1.25rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}
p {margin-bottom: 1rem;}
.footer-text, .tooltip-text {font-size: 0.8rem;}
a {color: var(--primary);}
a:hover {opacity: 0.8;}



/* STRUCTURE */
body{
    background-color: var(--black);
    color: var(--white);
    margin: 4% 18%;
}
main{
    width:100%;
}
body.map-page{
    margin: 1% 0% 1% 4%;
    /* margin: 0% 0% 0% 0% */
}



/* COLUMNS */
.col{
    float:left;
}
.col-2:after, .col-3:after, .col-4:after {
    content: "";
    display: table;
    clear: both;
}

/* 2 COL LAYOUT */
.col-2 .col:nth-child(1){
    width:49%;
    margin-right:1%;
    display:inline-block;
}
.col-2 .col:nth-child(2){
    width:49%;
    margin-left:1%;
    display:inline-block;
}

/* 2 COL SKEWED LAYOUT - MAP PAGE*/
.col-2-skewed .col:nth-child(1){
    width:24%;
    margin-right:1%;
    display:inline-block;
}
.col-2-skewed .col:nth-child(2){
    width:74%;
    margin-left:1%;
    display:inline-block;
}

/* 2 COL SKEWED LAYOUT - MODAL CONTENT*/
.modal-content .col-2-skewed .col:nth-child(1){
    width:39%;
    margin-right:1%;
    display:inline-block;
}
.modal-content .col-2-skewed .col:nth-child(2){
    width:59%;
    margin-left:1%;
    display:inline-block;
}

/* 3 COL LAYOUT */
.col-3 .col:nth-child(1){
    width:32%;
    margin-right:1%;
    display:inline-block;
}
.col-3 .col:nth-child(2){
    width:32%;
    margin-left:1%;
    margin-right:1%;
    display:inline-block;
}
.col-3 .col:nth-child(3){
    width:32%;
    margin-left:1%;
    display:inline-block;
}



/* MOBILE STRUCTURE */
@media only screen and (max-width: 1200px) {
    body{margin:4% 12%;}
    body.map-page{margin:2% 4%;}
}
@media only screen and (max-width: 1000px) {
    body{margin:4%;}
    body.map-page{margin:2%;}
}
@media only screen and (max-width: 800px) {
    div.card-padded {
        padding: 1rem 2rem !important;
    }
}
@media only screen and (max-width: 600px){
    .col{
        display: block !important;
        width: 100% !important;
        margin: 1% 0px !important;
    }
    footer{text-align:center;}
    footer div{float:none !important;}
}



/* FOOTER */
/* footer{
    margin-top:5rem;
} */
#socialShare h2{
    font-size: 0.75rem;
    margin: 1rem 0rem 0.3rem 2px;
}
#socialShare{
    float:right;
}
#socialShare img{
    width: 1.75rem;
    padding: 0px;
}
#socialShare img:hover{
    transform: scale(0.9);
}



/* CARD */
div.card {
    padding: 1rem 2rem;
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    border-radius: 5px;
}
div.card-padded {
    padding: 2rem 4rem;
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    border-radius: 5px;
}


/* PRINT FORMAT */
@media print{
    @page :footer {display: none;}
    @page :header {display: none;}
    @page {
        size:auto;
        margin: 8% 8% 8% 8%;
    }
}



/* USER INPUT */
button{
    display: block;
    padding: 1rem 2rem;
    border: 2px solid var(--black);
    background: var(--white);
    color: var(--black);
    border-radius:5px;
    font-weight:700;
    font-size:1rem;
}
button:hover{
    background: var(--primary);
    color: var(--white);
    cursor:pointer;
}
label{
    font-weight: 700;
    display:block;
    font-size:1.25rem;
}
label.inline, label.inline input[type='checkbox']{
    display:inline;
}
input, textarea, select{
    display:block;
    width:calc(100% - 2.4rem);
    padding: 1rem 1.2rem;
    margin-top: 0.5rem;
    border: 2px solid var(--black);
    background: var(--white);
    color: var(--black);
    border-radius:5px;
    font-size:1rem;
    font-family:inherit;
}
input[type='checkbox']{
    width:initial;
}
form, label{
    width:100%;
}



/* MODAL */
.modal-hidden{
    display:none;
}
#modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    margin: 5% auto;
    width: 60%;
    padding: 2rem;
    border: 2px solid var(--black);
    background: var(--white);
    color: var(--black);
    border-radius:5px;
}
.close-modal {
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}
.close-modal:hover,
.close-modal:focus {
    color: var(--white);
    background-color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .modal-content {
        width:80%;
    }
}



/* TOOLTIP */
.tooltip{
    position: relative;
    border-bottom: 1px dotted var(--white);
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 240px;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;
    display: none;
  }
.tooltip:hover .tooltip-text {
    visibility: visible;
    display: inline-block;
    cursor: help;
}
.tooltip:hover{
    cursor: help;
}
.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--black) transparent transparent transparent;
}



/* ACCORDION */
button.accordion{
    display: block;
    padding: 0px;
    border: none;
    background: transparent;
    color: var(--white);
    border-radius:0px;
    margin: 3rem 0 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.333rem;
}
button.accordion:hover{
    color: var(--primary);
    cursor:pointer;
}



/* HOMEPAGE */
.card-link{
    text-decoration:none;
    opacity: 0.9;
}
.card-link:hover{
    opacity: 1;
}
.card-link .card{
    transform: scale(0.98);
}
.card-link:hover .card{
    transform: scale(1);
}
.card-link h2{
    font-size: 1.953rem;
}



/* MARKERS */
circle{
    cursor: pointer;
}
.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child{
    display:none;
}
.google-visualization-tooltip-item-list{
    padding:0px !important;
    margin:0px !important;
}
.google-visualization-tooltip-item{
    padding:0px !important;
    margin:.2rem .4rem !important;
}
.map-tooltip{
    color: '#343235' !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}
.google-visualization-tooltip{
    transform: translate(18px, 18px) !important;
}



/* FILTER BOXES */
input[type='checkbox']{
    display:inline;
    accent-color: var(--primary);
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    margin-left: 0px;
    cursor: pointer;
}
.map-page div[role='banner']{
    margin-top: 5.5rem;
}
.map-page div[role='banner'] label{
    padding: 1rem 2rem;
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    width:auto;
    cursor: pointer;
}
.map-page div[role='banner'] label span{
    font-size: 1.25rem;
    font-weight: 700;
}
.map-page div[role='banner'] label p{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top:0.2rem;
    margin-bottom:0.2rem;
}



/* VIEW TOGGLE */
#toggle-view button{
    display: inline-block;
    width: calc(50% - 2px);
    opacity: 0.8;
}
.active-view, #toggle-view button:hover{
    opacity: 1 !important;
}


/* MODAL CONTENT */
.modal-img{
    width:100%;
    vertical-align:top;
}
.modal-gallery-img{
    width:48%;
    margin-top:3%;
    vertical-align:top;
}
a.img-link:nth-of-type(even) .modal-gallery-img{
    margin-left:2%;
}
a.img-link:nth-of-type(odd) .modal-gallery-img{
    margin-right:2%;
}
#modal h1{
    font-size: 2rem;
    margin-top: 0px;
    line-height: 1.25;
    border-bottom: 2px solid var(--black);
    padding-bottom: 1rem;
    margin-bottom: 0px;
}
#modal p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#modal hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: var(--black);
}
#modal .modal-date{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}
#story-content p:last-child{
    margin-bottom:0px !important;
}
.modal-content{
    overflow: auto;
}



/* TIMELINE */
#timeline{
    margin-top: 5.5rem;
    width: 80%;
}
#timeline .card{
    margin-bottom: 1rem;
    opacity:1;
    cursor:pointer;
}
#timeline .card:hover{
    opacity:0.9;
}
#timeline .card h2{
    font-size:2rem;
    margin:0px;
}
.timeline-date{
    font-size: 0.8rem;
    margin-bottom: 0px;
}